
.bg-dark{
    background-color: rgb(58, 58, 58);
    color: white;
}

main{
    display: flex;
    flex-direction: row;
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 50%; /* The width is the width of the web page */
}